.navbar{
  background-color: brown;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 300px;
  gap: 25px;
}

.navbar ul li{
  font-size: 20px;
 list-style: none;
 color: #fff;
}


h1{
  text-align: center;
}

.img{
  width: 400px;
  border-radius: 10px;
}

.about{
  font-size: 20px;
}



.footer{
  background-color: blueviolet;
  padding: 30px ;
}

.footer p{
  text-align: center;
  font-size: 20px;
  color: #fff;
}